<div class="main">
  <mat-toolbar color="primary">
    <button (click)="sidenav.toggle()" mat-icon-button class="d-md-none example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>

    <div class="d-none d-md-block">
      <a *ngFor="let item of menuItems" 
      [routerLink]="item.url"
      mat-button
      >
      {{item.text}}
      <mat-icon>{{item.icon}}</mat-icon>
    </a>
   
    </div>
   
  </mat-toolbar>

  <mat-sidenav-container>
    <mat-sidenav #sidenav >
      <mat-nav-list >
      <mat-list-item *ngFor="let item of menuItems" >
      <a 
      [routerLink]="item.url"
      mat-button
      >
      {{item.text}}
      
      <mat-icon>{{item.icon}}</mat-icon>
    </a>
    </mat-list-item>

      <mat-list-item>
      <a 
      (click)="sidenav.toggle()"
      mat-button
      >
      Close      
      <mat-icon>keyboard_arrow_left</mat-icon>
    </a>
    </mat-list-item>

    </mat-nav-list>
    </mat-sidenav>
    
    <mat-sidenav-content>
      
      <router-outlet></router-outlet>
    </mat-sidenav-content>

  </mat-sidenav-container>

</div>
